<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<style>
			body{
					background-image: url("https://blended-html.com/background-images/bi-background-turquoise-white.png");
					background-repeat: no-repeat;
					background-size: 100%;
					text-align: center;		
			}
			h1{
				font-size: 30px;
				text-decoration: underline;
			}
			table{
				width: 100%;
				font-size: 20px;
			}
		</style>	
	</head>
	<body>
		<h2>
			Edit User
		</h2>
		<form action="/saveUser" method="post" th:object="${data}">
			ID: <input type="text" th:field="*{id}" /><br><br>
			Name: <input type="text" th:field="*{name}" id="name" /><br><br>
			DOB: <input type="date" th:field="*{dob}" /><br><br>
			Email: <input type="text" th:field="*{mail}"  id="mail"/><br><br>
			Password: <input type="text" th:field="*{passw}" id="passw" /><br><br>
			Confirm Password: <input type="text" th:field="*{cpasswd}" id="cpasswd"> <br><br>
			<input type="submit" value="UPDATE" />
			
		</form>
	</body>
</html>